@font-face {
  font-family: 'PaytoneOne-Regular';
  src: url('./assets/PaytoneOne-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'STYuanti';
  src: url('./assets/STYuanti.ttf');
  font-display: swap;
}
